In [1]:
import numpy as np
import pandas as pd

## Datasets
#### All Cases (Dataset): https://github.com/owid/covid-19-data/blob/master/public/data/jhu/new_cases.csv
#### Latest Dataset: https://github.com/owid/covid-19-data/blob/master/public/data/latest/owid-covid-latest.csv

#### (Total) Deaths Dataset : https://github.com/owid/covid-19-data/blob/master/public/data/jhu/total_deaths.csv

In [14]:
new_cases = pd.read_csv('datasets/new_cases.csv')
deaths = pd.read_csv('datasets/total_deaths.csv')

In [18]:
new_cases.India

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
438    103558.0
439     96982.0
440    115736.0
441    126789.0
442    131968.0
Name: India, Length: 443, dtype: float64

In [17]:
new_cases

,date,World,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,...,United States,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,2020-01-22,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-23,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN
2,2020-01-24,286.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
3,2020-01-25,492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,2020-01-26,685.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438,2021-04-04,552763.0,81.0,9503.0,348.0,98.0,57.0,52.0,0.0,9955.0,...,34932.0,3853.0,188.0,0.0,0.0,1786.0,5.0,101.0,130.0,12.0
439,2021-04-05,489699.0,41.0,9254.0,264.0,117.0,55.0,86.0,3.0,13667.0,...,77794.0,2201.0,179.0,0.0,0.0,1425.0,6.0,83.0,79.0,11.0
440,2021-04-06,605501.0,62.0,9576.0,141.0,140.0,42.0,168.0,0.0,20870.0,...,61958.0,3105.0,133.0,0.0,0.0,1526.0,11.0,94.0,62.0,32.0
441,2021-04-07,684346.0,94.0,11674.0,256.0,125.0,35.0,125.0,4.0,22039.0,...,75038.0,3924.0,192.0,0.0,0.0,1115.0,11.0,72.0,315.0,18.0
442,2021-04-08,839850.0,70.0,16829.0,317.0,112.0,46.0,98.0,3.0,23683.0,...,79878.0,3670.0,195.0,0.0,0.0,1184.0,9.0,86.0,206.0,68.0